title: "Lubomír Bureš"
email: "hello@winterlead.com"
description: "Personal website of Lubomír Bureš, a nuclear engineer focused on computational modelling and technical problem solving."
tagline: "Nuclear engineer focused on computational modelling and technical problem solving."
author: "Lubomír Bureš"
baseurl: ""
url: "https://www.lubomirbures.com"

theme: null
markdown: kramdown
permalink: /blog/:year/:month/:day/:title/

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
